/* debug */
/* .debug header {
  height: 150px;
  background-color: aqua;
}
.debug .sidebar {
  height: 250px;
  background-color: beige;
}

.debug .content {
  height: 250px;
  background-color: lightcoral;
}
[class*="col"] {
  background-color: aquamarine;
} */
/* color */
:root {
  --bts--primary: #1b72e8;
  --bts--secondary: #051e34;
  --bts--element: #165bba;
}
.bg_element {
  background-color: var(--bts--element);
}
/* end color */

/* utility */
.wrapper {
  height: 100vh;
}
.h_calc {
  height: calc(100% - 56px);
}
.img_w {
  width: 50px;
}
.img_w_s {
  width: 20px;
}
.w_100 {
  width: 100%;
}
.m_negativ {
  margin-left: -6rem;
}
.sidebar {
  background-color: var(--bts--secondary);
  background-image: url("/asset/img/sidebar-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* media query */
@media screen and (min-width: 992px) {
  .w_50_lg {
    width: 50%;
  }
  .w_75_lg {
    width: 75%;
  }
}
