/* debug */
/* .debug header {
  height: 150px;
  background-color: aqua;
}
.debug .sidebar {
  height: 250px;
  background-color: beige;
}

.debug .content {
  height: 250px;
  background-color: lightcoral;
}
[class*="col"] {
  background-color: aquamarine;
} */
